#planes {
    color: var(--color-negro);
}



.text-planes {
    font-size: 30px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0;
    text-transform: uppercase;
}

.caption {
    position: relative;
    bottom: 76%;
}

.caption-desc {
    position: relative;
    bottom: 92%;
}

.descuento-plan {
    font-family: "Open sans", sans-serif;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 0.938rem;
    text-transform: uppercase;
    background-color: var(--color2);
    color: var(--color-blanco);
    max-width: 110px;
    margin: auto;
    justify-content: center;
    padding: 3px 4px 3px 5px;
}

@media (max-width: 1746px) {
    .descuento-plan{
        margin: 0 25%;
    }
    .caption-desc{
        bottom: 100%;
    }
    
}
@media (max-width: 1397px) {
    .descuento-plan{
        font-size: 0.55rem;
    }
    .caption-desc{
        bottom: 100%;
    }
    .caption{
        bottom: 72%;
    }
}

@media (max-width: 430px) {
    .row {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .caption-desc {
        position: relative;
        bottom: 20%;
    }
    
}