#back-img {
    max-height: 17.5rem;
    background-color: #F4F4F5;
}
.producto-review{
    margin-left: -51px;
    color: var(--color2);
}
.producto-review:hover{
    color: var(--color-negro);
}
.cont-artic {
    flex: 0 0 auto;
    width: 31.666667%;
}
#back-img-shop {
    max-height: 17.5rem;
    background-color: #F4F4F5;
}

/*
#nombre-produc{
    font-family: "Open sans", sans-serif;
    font-size: 0.9rem;
}
    */
#titulo {
    font-family: "Oswald", sans-serif;
    font-size: 1.875rem;
    text-transform: uppercase;
    font-weight: 500;
}


.section-img {
    margin: 0.5rem 2rem;
}

.precio-produc {
    color: var(--color2);
    font-weight: bold;
}

.col-produc {
    flex: 0 0 auto;
    width: 22%;
    height: 25rem;
}

.sec-pro {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

article a {
    font-family: "Open sans", sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: var(--color-negro);
    text-decoration: none;
    text-transform: uppercase;
}

article .active {
    color: var(--color2);
    text-decoration: underline;
}

#cards-productos img {
    transition: all 0.5s ease-in-out;
}


#cards-productos .card {
    overflow: hidden;
}

#cards-productos .card:hover .icon-quick-view {
    right: 10px;
    /* Visible dentro de la tarjeta */
}

.icon-quick-view {
    position: absolute;
    top: 25%;
    right: -40px;
    /* Oculto fuera de la tarjeta, ajusta según el tamaño del icono */
    background-color: var(--color-blanco);
    padding: 5px 10px;
    border-radius: 50%;
    transition: all .5s ease-in-out;
    cursor: pointer;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
}

.icon-quick-view:hover {
    color: var(--color-blanco);
    background-color: var(--color2);
}

.icon-favourite {
    position: absolute;
    top: 3%;
    right: -40px;
    /* Oculto fuera de la tarjeta, ajusta según el tamaño del icono */
    background-color: var(--color-blanco);
    padding: 5px 10px;
    border-radius: 50%;
    transition: all .5s ease-in-out;
    cursor: pointer;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
}

#cards-productos .card:hover .icon-favourite {
    right: 10px;
    /* Visible dentro de la tarjeta */

}

.icon-favourite:hover {
    color: var(--color-blanco);
    background-color: var(--color2);
}

.icon-bar {
    position: absolute;
    top: 14%;
    right: -40px;
    background-color: var(--color-blanco);
    padding: 5px 10px;
    border-radius: 50%;
    transition: all .5s ease-in-out;
    cursor: pointer;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
}

.icon-bar:hover {
    color: var(--color-blanco);
    background-color: var(--color2);
}

#cards-productos .card:hover .icon-bar {
    right: 10px;
}


.boton-add{
    background-color: var(--color2);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.5px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    border-radius: 0px;
    border: 0;
    padding: 6px 24px 6px 24px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0);
    transition: all .2s ease;
    width: 257px;
}
.boton-add:hover{
    background-color: var(--color-negro);
}
.boton-add-home{
    background-color: var(--color2);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.5px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    border-radius: 0px;
    border: 0;
    padding: 6px 24px 6px 24px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0);
    transition: all .2s ease;
    width: 237px;
}
.boton-add-home:hover{
    background-color: var(--color-negro);
}
.boton-agregar-home {
    display: none;
    position: absolute;
    bottom: 139px; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    transition: all .5s ease-in-out;
}
.boton-agregar-shop {
    display: none;
    position: absolute;
    bottom: 151px; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    transition: all .5s ease-in-out;
}

#cards-productos .card:hover .boton-agregar-shop {
    display: block;
}
#cards-productos .card:hover .boton-agregar-home {
    display: block;
}

@media (max-width: 1397px) {
    .fsnombre {
        font-size: 0.80rem !important;
    }
}