#back-img {
    max-height: 17.5rem;
    background-color: #F4F4F5;
}
#back-img-shop {
    max-height: 17.5rem;
    background-color: #F4F4F5;
}
/*
#nombre-produc{
    font-family: "Open sans", sans-serif;
    font-size: 0.9rem;
}
    */
#titulo {
    font-family: "Oswald", sans-serif;
    font-size: 1.875rem;
    text-transform: uppercase;
    font-weight: 500;
}


.section-img {
    margin: 0.5rem 2rem;
}

.precio-produc {
    color: var(--color2);
    font-weight: bold;
}

.col-produc {
    flex: 0 0 auto;
    width: 22%;
    height: 25rem;
}

.sec-pro {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

article a {
    font-family: "Open sans", sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: var(--color-negro);
    text-decoration: none;
    text-transform: uppercase;
}

article .active {
    color: var(--color2);
    text-decoration: underline;
}
#cards-productos img{
    transition: all 0.5s ease-in-out;
}
#cards-productos img:hover{
    transform: scale(1.2);
}
#cards-productos .card{
    overflow: hidden;
}
#cards-productos .card:hover .icon-quick-view{
    top: 25%;
}
.icon-quick-view{
    position: absolute;
    top: -15%;
    left: 50%;
    background-color: var(--color-blanco);
    padding: 6px 10px;
    border-radius: 50%;
    transform: translate(-50%, 0);
    transition: all .5s ease-in-out;
    cursor: pointer;
}
.icon-quick-view:hover{
    color: var(--color-blanco);
    background-color: var(--color-negro);
}
@media (max-width: 1397px) {
    .fsnombre{
        font-size: 0.80rem !important;
    }
}