
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
} 
input[type=number]{
    -moz-appearance: textfield;
}
/* Asegúrate de que el offcanvas tenga un z-index mayor */
.offcanvas {
  z-index: 1080 !important; /* Bootstrap usa 1045 por defecto, 1080 es seguro */
}
.quantity{
    width: 50px !important;
    box-shadow: none !important;
}
.border-bottom-cart{
    border-bottom: 1px solid var(--hr);
}
.border-top-cart{
    border-top: 1px solid var(--hr);
}
.descuento-box{
    background-color: var(--color-body-ofcanvas);
    color: var(--color-negro);
}
.boton-check{
    background-color: var(--color-boton-check);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.5s ease;
}
.boton-check:hover{
    background-color: var(--color-boton-check-hover);
    color: var(--color-blanco);
}
.texto-canvaoff{
    font-size: 15px;
    font-weight: 500;
    font-family: 'Open sans', sans-serif;
}
.texto-cont-off{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
    font-family: 'Open sans', sans-serif;
    color: var(--color-negro);
}
.cont-padd{
    padding: 1rem 1rem;
}
.cont-padd2{
    padding: 1rem 2rem;
}
.boton-buy-now{
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.5px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    border-radius: 0px;
    padding: 9px 24px 9px 24px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0);
    border: 0;
}
.boton-view-offcan{
    background-color: var(--color-boton-view);
    color: var(--color-blanco);
    font-weight: bold;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.5px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    border-radius: 0px;
    border: 0;
    padding: 9px 24px 9px 24px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0);
    transition: all .2s ease;
}
.boton-view-offcan:hover{
    background-color: var(--color-boton-view-hover);
}


.boton-check-offcan{
    background-color: var(--color-boton-check);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.5px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    border-radius: 0px;
    border: 0;
    padding: 9px 24px 9px 24px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0);
    transition: all .2s ease;
}
.boton-check-offcan:hover{
    background-color: var(--color-boton-check-hover);
    color: var(--color-blanco);
}
.subtotal{
    font-size: 1.25rem;
    line-height: 22px;
    font-weight: 500;
    color: #666666;
    font-family: 'Open sans', sans-serif;
    text-transform: capitalize;
}
.precio{
    color: var(--color2);
}
.h-73{
    height: 73% !important;
}
.ofcanvas-body{
    background-color: var(--blanco-a-casinegro) !important;
}