#cart-summary {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 0px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: black
}

.cart-empty {
  font-size: 34px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  color: var(--color-negro);
}

.cart-empty::first-letter {
  text-transform: uppercase;
}

.boton-return {
  border-radius: 0;
  background-color: var(--color-boton-check);
  color: white;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.5px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  border-radius: 0px;
  padding: 9px 24px 9px 24px !important;
}

.boton-return:hover {
  background-color: var(--color-boton-check-hover);
  color: var(--color-blanco);
}

#cart-totals {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: black
}

#subtotal {
  color: black;
  font-weight: 600;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}


.bg-progreso {
  background: #fff;
  border: 1px dashed rgb(255, 193, 7);
  border-radius: 8px;
  padding: 30px 30px 30px 30px;
  margin-bottom: 24px;
}

.bg-progreso-success {
  border-color: #38d39f !important;
  /* verde */
}

.bg-progreso-warning {
  border-color: rgb(255, 193, 7) !important;
  /* amarillo */

}

.progress {
  background: #e9ecef;
  border-radius: 4px;
}


.delete-icon-cont {
  width: 50px;
}


.product-name-cell {
  max-width: 180px;
  /* Ajusta el ancho a tu gusto */
  width: 49%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-check-input:checked[type="radio"] {
  background-color: #000;
  border-color: #000;
}

.card-color {
  background: #F5F4F4;
}

.card-header {
  background: #F5F4F4;
}

.text-sec {
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 2px;
}

.benefit-row {
  margin-left: 0;
  margin-right: 0;
}

.benefit-box {
  background: #F3F5FC;
  border-radius: 0;
  border: 1px solid #e0e0ef;
  text-align: center;
  padding: 2rem 1rem 1.2rem 1rem;
  color: #44446b;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.benefit-row .col-md-4:last-child .benefit-box {
  border-right: 1px solid #e0e0ef;
}

.benefit-title {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.benefit-desc {
  font-size: 1rem;
  color: #666688;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .benefit-box {
    border-right: 1px solid #e0e0ef;
  }

  .col-md-4:last-child .benefit-box {
    border-right: none;
  }
}