.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.sticky-top {
    background-color: var(--color1);
    transition: box-shadow 0.01s ease;
}
.sticky-shadow {
    box-shadow: 3px 7px 4px rgba(0, 0, 0, 0.1);
}
.nav-padded{
    padding-left: calc(35px / 2) !important;
    padding-right: calc(35px / 2) !important;
    padding-top: 32px;
    padding-bottom: 32px;
    font-family: "Oswald", "Open sans", sans-serif;
    color: var(--color-negro);
}
.nav-home{
    padding-left: 0;
    padding-right: calc(35px / 2);
    padding-top: 32px;
    padding-bottom: 32px;
    font-family: "Oswald", "Open sans", sans-serif;
}
.nav-link:hover{
    color: var(--color2);
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--color2);
}
.icono {
    color: black;
    padding-left: 30px;
    font-size: 20px;
    font-weight: bold;
  }
#logo{
    max-width: 120px;
    max-height: 120px;
    margin: 0;
}
.centro{
    display: flex;
    justify-content: space-around;
}
.btn-success{
    background-color: #189489;
    border: none;
}
.btn-success:hover{
    background-color: #189489;
    border: none;
}
.btn-danger{
    background-color: #E62A65;
    border: none;
}
.btn-danger:hover{
    background-color: #E62A65;
    border: none;
}
